body {
    background-image: url("http://assets1.ignimgs.com/2018/04/24/infinitygauntlet-1280-1524599732838_1280w.jpg");
    color: purple;
    margin: -5px;
}

h1 {
    color: gold;
    background-color: plum;
    text-align: center;
    padding: 25px;
    margin-bottom: 35px;
}


.row {
    background-color: plum;
    margin-bottom: 25px;
    margin-right: 10%;
}

.column {
    float: left;
    width: 50%;
    padding-left: 15px;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 0px;
}

.column2 {
    float: left;
    width: 48%;
    background-color: plum;
    text-align: left;
    padding: 15px;

}


.text {
    background-color: plum;
    text-align: left;
    padding: 25px;
    margin-bottom: 35px;
}

#number-to-guess {
    background-color: plum;
    text-align: left;
    padding: 12px;
    margin-bottom: 12px;
    margin-right: 65%;
}

#wins {
    background-color: plum;
    text-align: left;
    padding: 12px;
    margin-bottom: 12px;
    margin-right: 65%;
}

#losses {
    background-color: plum;
    text-align: left;
    padding: 12px;
    margin-right: 65%;
}

.buttons {
    width: 50%;
    padding: 0px;
    display: inline-flex;
    /* display: grid; */
    /* grid-gap: 12px; */
    margin-bottom: 15px;
}

#power-stone {
    padding: 0px 0px 0px 0px;
}

#reality-stone {
    padding: 0px 0px 0px 0px;
}

#soul-stone {
    padding: 0px 0px 0px 0px;
}

#time-stone {
    padding: 0px 0px 0px 0px;
}